# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite database file
db.sqlite3

# Logs
*.log

# Django static and media files
static/
media/

# Virtual environments (if not in Docker)
venv/
.venv/

# Git related files
.git/
.gitignore

# Local environment variables
.env

# Ignore migrations pycache (optional if you only want source migrations)
migrations/**/__pycache__/
migrations/**/*.pyc

